<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <identity>
        <username></username>
        <url></url>
    </identity>
    <parent>
        <projectKey>LPAD</projectKey>
    </parent>
    <dispersion>
        <epics>
            <epic key="LPAD-1" targetProject="LPAD"/>
        </epics>
    </dispersion>
</configuration>